version: 1.0.{build}
image: Ubuntu2204

install:
  # appveyor's custom images are a pay-to-win feature; let's just clone the
  # setup and run it here each build :D
  # - git clone https://github.com/caffeine-storm/haunts-custom-build-image.git
  - export IMG=haunts-custom-build-image
  - export HASH=becf54e8a60a37925dcda2610ba0ab2c2c3a0f3e
  - wget https://github.com/caffeine-storm/$IMG/archive/$HASH.tar.gz -O $IMG.tar.gz
  - mkdir $IMG
  - tar -C $IMG --strip-components=1 -xf $IMG.tar.gz
  - sudo ./$IMG/install-build-dependencies.sh

build_script:
  - make

test_script:
  - make test || make appveyor-test-report-and-fail
